

dh{ 
    display: flex;
    flex-direction: column;
    flex: 1;
}
dd{
    display: none;
}

dt:hover+ dd,form {
display: block;

}

form{
    
}
form,dh,dd,dt,dt:hover+ dd{
background-color: rgba(127, 255, 212, 0.26);
border:2px green solid;
}
body{
    background-image: url(../img/felt.jpg);
    background-size: 50%;
}